{% extends "layout.html" %}

{% block body %}
    <!-- <ul>
        <li>Here is the name: {{data["name"]}}</li>
        <li>Here is the price: {{data["price"]}}</li>
        <li>Here is the symbol: {{data["symbol"]}}</li>
    </ul> -->

    <!-- Displaying all data in HTML Page-->
    <p>
        {{data}}
    </p>
    <br>
      
    <p>Sample syntax to display data: {{data["data"][0]["open"]}}</p>

    <script>

        //Sample syntax to retrieve data in js. Note: we have to use the {{}} suntax inside strings.
        let sample_1 ="{{data["data"]}}";
        console.log(sample_1);
        
    </script>
{% endblock %}