{% extends "layout.html" %}

{% block body %}
    <!-- <ul>
        <li>Here is the name: {{data["name"]}}</li>
        <li>Here is the price: {{data["price"]}}</li>
        <li>Here is the symbol: {{data["symbol"]}}</li>
    </ul> -->

    <!-- Displaying all data in HTML Page-->
    

    <!-- <script>
        // let stockData = '{{ data }}'
        // console.log(stockData);

    </script> -->

    <p>
        ashish jain
    </p>
    <!-- <br> -->
    
    <!-- <p>Sample syntax to display data: {{data["data"][0]["open"]}}</p> -->
    
{% endblock %}